@font-face {
  font-family: 'NewYork';
  src: url('../../assets/fonts/NewYork.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/Gotham.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root{
  --title-font: 'NewYork', serif;
  --text-font: 'Gotham' , serif;

  --font-size: 16px;
}

h1{
  font-family: var(--title-font);
  font-weight: 900;
  font-size: var(--6m);
  text-align: center;
  line-height: var(--8m);
}