@font-face {
  font-family: 'NewYork';
  src: url('../../assets/fonts/NewYork.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/Gotham.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root{
  --title-font: 'NewYork', serif;
  --text-font: 'Gotham' , serif;

  --font-size: 16px;
}