@import "var/Color.scss";
@import "var/Font.scss";

:root{
    /*Spacing*/
    --1m: 8px;
    --2m: calc(2 * var(--1m));
    --3m: calc(3 * var(--1m));
    --4m: calc(4 * var(--1m));
    --5m: calc(5 * var(--1m));
    --6m: calc(6 * var(--1m));
    --7m: calc(7 * var(--1m));
    --8m: calc(8 * var(--1m));
    --9m: calc(9 * var(--1m));
    --10m: calc(2 * var(--5m));

    --border-black: 2px solid var(--black);
    --radius-20: 20px;
}

@import "var/Reset.scss";

::selection {
    background: rgba(var(--black-rgb), 0.5);
    color: rgba(var(--white-rgb), 1);
}
::-webkit-scrollbar{
    width: var(--1m);
    height: var(--1m);
}

.cursor_follower{
    --size-outer: max(22px,2vw);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    border-radius: 100%;
    background: var(--white);
    width: var(--size-outer);
    height: var(--size-outer);
    pointer-events: none;
    mix-blend-mode: difference;
    @media only screen and (max-width: 900px){
        display: none;
    }
}

@import "var/Class.scss";