.Loader{
  z-index: 500;
  position: fixed;
  top: 0;
  overflow: hidden;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease-out;
  transform: translateY(0%);
  background: var(--black);
  color: var(--white);
}
.disparition{
  z-index: -50;
  transform: translateY(-100%);
  transition: opacity 2s ease-out;
}